.contain {
  width: 100%;
  padding-top: 1px;
  height: 100%;
}

.add_input {
  width: 90%;
  margin: 15px 0;
  padding: 15px 45px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  background-color: #9f9f9f2a;
  input {
    margin: 5px 0;
  }
  .search {
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    input {
      margin: 0;
      padding: 0 5px;
      height: 100%;
      border: none;
      background-color: white;
    }
    i {
      margin: auto;
      padding: 0;
      padding: 15px;
      height: 100%;
      color: white;
      background-color: var(--primary);
    }
  }
}

table {
  width: 90%;
  thead,
  tbody {
    width: 100%;
    tr {
      width: 100%;
      th,
      td {
        flex: 2;
        padding: 10px 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        input {
          width: 100%;
          padding: 5px;
          border: none;
          border-bottom: 1px solid grey;
        }
        input[type="checkbox"] {
          width: 20px;
          height: 20px;
        }
        select {
          padding: 5px;
          border: none;
          border-bottom: 1px solid grey;
        }
        p {
          margin-bottom: 15px;
        }
        textarea {
          width: 100%;
          height: 100%;
          padding: 5px;
          margin: 10px 0;
        }
        .btn {
          width: 50%;
        }
      }
      th {
        border-bottom: solid 5px var(--primary);
        filter: grayscale(50%);
        margin: 0;
      }
      .td_id {
        flex: 1;
        display: flex;
      }
      .td_content {
        display: flex;
        flex: 6;
      }
      &:hover {
        font-weight: 500;
        color: var(--primary);
        td {
          button {
            cursor: pointer;
          }
        }
      }
    }
    tr:nth-child(even) {
      background-color: #9f9f9f2a;
    }
  }
}

.btn_update {
  // width: 50%;
  height: 35px;
  margin: 5px;
  border-radius: 5px;
  color: var(--primary);
  background-color: white;
  border: 1px solid var(--primary);
  font-size: 18px;
  i {
    font-size: 16px;
  }
  &:hover {
    background-color: var(--primary);
    color: white;
  }
}
.btn_delete {
  // width: 50%;
  height: 35px;
  margin: 5px;
  border-radius: 5px;
  color: var(--danger);
  background-color: white;
  border: 1px solid var(--danger);
  i {
    font-size: 16px;
  }
  &:hover {
    background-color: var(--danger);
    color: white;
  }
}
.btn_warning {
  // width: 50%;
  height: 35px;
  margin: 5px;
  border-radius: 5px;
  color: var(--warning);
  background-color: white;
  border: 1px solid var(--warning);
  i {
    font-size: 16px;
  }
  &:hover {
    background-color: var(--warning);
    color: white;
  }
}
.btn_success {
  // width: 50%;
  height: 35px;
  margin: 5px;
  border-radius: 5px;
  color: var(--success);
  background-color: white;
  border: 1px solid var(--success);
  i {
    font-size: 16px;
  }
  &:hover {
    background-color: var(--success);
    color: white;
  }
}