:root {
    --primary: rgb(50, 50, 255);
    --secondary:#777777;
    --gray-2:#12CBC4;
    --light-grey:#C4E538;
    --error: red;
    --divider:#EE5A24;
    --text-color: #333;
    --font-family: 'Nunito', sans-serif;
    --box-shadow: 1px 1px #333;
}